@use "reset";
@use "base/base";
@use "components/badge";

.container {
    display: grid;
    justify-items: center;
    width: 100vw;
    gap: 40px;
}

.page-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 96px);
    align-content: center;
    gap: 10px;
    justify-content: center;
    justify-items: center;
}